# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
# from api_keys import g_key

# importing sys
import sys
  
# adding Folder_2 to the system path
sys.path.insert(0, '/Users/keithmoravec/Documents/NU_Data_Science_Bootcamp/NU_Assignments/HW6_API/python-api-challenge')

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load CSV file
file = "../output_data/cities.csv"

# Read the  csv and store into Pandas DataFrame
cities_df= pd.read_csv(file, encoding="utf-8")
cities_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Coundry,Date
0,moose factory,51.2585,-80.6094,21.20,93,90,0.00,CA,1638145115
1,puerto ayora,-0.7393,-90.3518,69.71,81,78,11.32,EC,1638145116
2,bluff,-46.6000,168.3333,57.60,69,43,19.71,NZ,1638145116
3,port elizabeth,-33.9180,25.5701,62.89,88,0,10.36,ZA,1638145117
4,busselton,-33.6500,115.3333,65.84,67,63,8.05,AU,1638145117
...,...,...,...,...,...,...,...,...,...
540,tamworth,52.6340,-1.6959,30.52,91,54,6.87,GB,1638145991
541,portland,45.5234,-122.6762,62.58,65,75,8.05,US,1638145983
542,conceicao do araguaia,-8.2578,-49.2647,75.79,90,31,2.51,BR,1638145992
543,ughelli,5.4899,6.0074,76.28,93,100,1.77,NG,1638145993
544,khani,41.9563,42.9566,45.97,76,100,4.61,GE,1638146053

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
humidity = cities_df["Humidity"].astype(float)

In [10]:
# Plot Heatmap

fig = gmaps.figure(center=(20,0),zoom_level=1.7)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating=False, max_intensity=350,
                                 point_radius=5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [12]:
desired_cities = cities_df.loc[(cities_df["Max Temp"]<80)\
                               &(cities_df["Max Temp"]>=70)\
                               &(cities_df["Wind Speed"]<10)\
                               &(cities_df["Cloudiness"]==0)]
desired_cities

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Coundry,Date
26,mount gambier,-37.8333,140.7667,75.11,31,0,5.35,AU,1638145126
79,pahrump,36.2083,-115.9839,71.65,16,0,1.52,US,1638145205
99,moctezuma,29.8000,-109.6667,71.49,27,0,4.21,MX,1638145273
151,codrington,-38.2667,141.9667,71.92,45,0,2.64,AU,1638145174
305,guerrero negro,27.9769,-114.0611,73.27,43,0,9.98,MX,1638145596
340,pirassununga,-21.9961,-47.4258,74.86,64,0,3.44,BR,1638145671
342,san juan,-31.5375,-68.5364,74.89,23,0,8.16,AR,1638145602
401,whyalla,-33.0333,137.5833,73.29,56,0,5.75,AU,1638145756
407,jiwani,25.0500,61.7417,74.23,67,0,8.41,PK,1638145818
476,salalah,17.0151,54.0924,73.49,78,0,5.75,OM,1638145887

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df = desired_cities

In [18]:
import warnings
warnings.filterwarnings("ignore")

hotel_df["Hotel Name"] = ''  # Adding column men to existing data frame
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Coundry,Date,Hotel Name
26,mount gambier,-37.8333,140.7667,75.11,31,0,5.35,AU,1638145126,
79,pahrump,36.2083,-115.9839,71.65,16,0,1.52,US,1638145205,
99,moctezuma,29.8000,-109.6667,71.49,27,0,4.21,MX,1638145273,
151,codrington,-38.2667,141.9667,71.92,45,0,2.64,AU,1638145174,
305,guerrero negro,27.9769,-114.0611,73.27,43,0,9.98,MX,1638145596,
340,pirassununga,-21.9961,-47.4258,74.86,64,0,3.44,BR,1638145671,
342,san juan,-31.5375,-68.5364,74.89,23,0,8.16,AR,1638145602,
401,whyalla,-33.0333,137.5833,73.29,56,0,5.75,AU,1638145756,
407,jiwani,25.0500,61.7417,74.23,67,0,8.41,PK,1638145818,
476,salalah,17.0151,54.0924,73.49,78,0,5.75,OM,1638145887,

In [21]:
# create a params dict that will be updated with new city each iteration
params = {"key": g_key,
         "radius":5000,
         "keyword":"lodging"}

# Loop through the hotel_pd and run a lat/long search for each city
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    lat = row['Latitude']
    lon = row['Longitude']

    # update address key value
    params['location'] = f"{lat},{lon}"

    # make request
    cities_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    cities_lat_lng = cities_lat_lng.json()
    try:
        
        hotel_df.loc[index, "Hotel Name"] = cities_lat_lng["results"][0]["name"]
#     hotel_df.loc[index, "Hotel Address"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]
    except:
        print("No Hotel found in {City}")
        
# Visualize to confirm lat lng appear
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Coundry,Date,Hotel Name
26,mount gambier,-37.8333,140.7667,75.11,31,0,5.35,AU,1638145126,Aloha Central Luxury Apartments
79,pahrump,36.2083,-115.9839,71.65,16,0,1.52,US,1638145205,Pahrump RV Park And Lodging
99,moctezuma,29.8000,-109.6667,71.49,27,0,4.21,MX,1638145273,Hotel San Antonio
151,codrington,-38.2667,141.9667,71.92,45,0,2.64,AU,1638145174,Codrington Gardens Bed And Breakfast
305,guerrero negro,27.9769,-114.0611,73.27,43,0,9.98,MX,1638145596,"""La Posada De Don Vicente"""
340,pirassununga,-21.9961,-47.4258,74.86,64,0,3.44,BR,1638145671,Hotel Municipal
342,san juan,-31.5375,-68.5364,74.89,23,0,8.16,AR,1638145602,Apart Hotel la Deolinda
401,whyalla,-33.0333,137.5833,73.29,56,0,5.75,AU,1638145756,Quest Whyalla
407,jiwani,25.0500,61.7417,74.23,67,0,8.41,PK,1638145818,Hamza hotel jiwani
476,salalah,17.0151,54.0924,73.49,78,0,5.75,OM,1638145887,Al Jabal

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Coundry</dt><dd>{Coundry}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [34]:
# Add marker layer ontop of heat map

hotel_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Add layer
fig.add_layer(hotel_layer)

# Display figure
fig

# Display figure

# fig_size=(20,20)

Figure(layout=FigureLayout(height='420px'))